
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Ysabeau+Infant&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* primary code */
.btn-primary{
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    background: #E55473;
    padding: 12px 28px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.section-title{
    font-family: 'Lato', sans-serif;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 20px 0;
}

.container {
    max-width: 1440px;
    padding: 70px 80px;
    margin: 0 auto;
    
}


/* ============header styles ==============*/
header{
    background: rgba(229, 84, 115, 0.10);
    overflow: hidden;
}
.banner .container{
    margin: 0 auto;
    display: flex;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    height: 100vh;
    column-gap: 40px;
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 32px 0px;
    width: 80%;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    padding-top: 40px;
    height: 100vh;
}



/* =============featured area ===================*/
.featured-area{
    margin: 0 auto;
}
.featured-img-container{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.featured-content{
    width: 33.3%;
}
.featured-text{
    text-align: center;
    padding: 20px 0px;
}
.img-box {
    display: flex;
    padding: 70px 20px 0px 20px;
    justify-content: end;
}
.img-box img{
    height: 350px;
    width: 300px;
}
.featured-content:nth-child(1) .img-box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-content:nth-child(2) .img-box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-content:nth-child(3) .img-box {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-img-title{
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 20px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}


/* ==============our-activities=========== */
.our-activities{
    padding: 0px 80px;
    display: flex;
    justify-content: center;
}
.our-activities .activities-content {
    display: flex;
    justify-content: space-between;
    padding: 70px 80px;
    width: 100%;
    max-width: 1440px;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
}

.activity-img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-img-box img{
    height: 88px;
    width: 88px;
}
.activity-title{
    margin-top: 25px;
    font-size: 19px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}


/*================= hot deal=========== */
.hot-deal{
    border-radius: 8px;
    margin-top: 100px;
    padding: 20px 80px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal .content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.hot-deal .text{
    text-align: center;
    padding-right: 100px;
}
.hot-deal-description{
    padding-bottom: 25px;
}
.hot-deal-img-box img{
    width: 300px;
    height: 4x;
}
.discunt-mark{
    color: #E55473;
}

/* =================instagram-feed========== */

.instagram-feed .intagram-img{
    display: flex;
    column-gap: 20px;
    margin-top: 15px;
}
.instagram-feed .intagram-img img{
    width: 24%;
}


/* review section */
.client-feedback{
    background-color: #FEF6F8;
}
.client-feedback .review-cards{
    padding: 40px 0px;
    background: url('/imges/Rectangle\ 4306.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.review-cards{
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
}
.review-cards .card{
    background-color: #fff;
    padding: 20px;
    width: 32%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}
.review-text{
    text-align: left;
}
.avatar{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.avatar-name{
    font-size:16px;
    font-weight: 700;
    font-family:'Lato', sans-serif;
    margin-bottom: 5px;
    color: #141C30;
}
.avatar-title{
    font-size: 14px;
    font-family:'Lato', sans-serif;
    color: #626774;
}








/* news latter */


.news-latter .container .content {
    padding: 100px 0px;
    width: 100%;
    border-radius: 5px;
    background: url('/imges/newslatterbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.news-latter .container .content input[type='email']{
    padding: 12px 28px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    width: 40%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-right: 5px;

}
.news-latter .container .content input[type='submit']{
    border-radius: 3px;
    background: #E55473;
    padding: 12px 28px;
    border: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

/* blogs */
.blogs{
    background: rgba(229, 84, 115, 0.10);
}
.blogs .container{
    padding: 100px 80px;
}
.blog-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.blog-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.blog-cards .card{
    display: flex;
    margin-top: 40px;
    width: 48%;
    column-gap: 30px;
    row-gap: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.blog-meta {
    display: flex;
    column-gap: 30px;
    margin-bottom: 10px;
}
.blog-meta .category{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}
.blog-meta .reading-time{
    color: #3D3D3D;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
line-height: 160%;
}
.blog-content .main-text .blog-title{
    color: #000000cc;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.8px;
}
.blog-content .main-text .block-text{
    color: #000;
    padding: 10px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.blog-content .btn{
    color: #000;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-right: 20px;
    display: inline-block;
}
.show-more-btn{
    padding-top: 60px;
    text-align: center;
}

/* footer style */
footer{
    background: #111010;
    padding: 100px 0px;
}
footer .section-title{
    color: #fff;
    font-family: 'Lato', sans-serif;
}
footer .section-description{
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Lato', sans-serif;
    padding: 15px;
}
footer span{
    color: #E55473;
}
footer .copyright-text{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: 'Lato', sans-serif;
}
















